body{
  background: url(../images/mbuntu-8.jpg) ;
  background-size:cover;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
}
.slogan{
  font-family: 微软雅黑;
  color: #FFF;
  text-shadow: none;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  border-width: 0px;
  border-color: #000;
  border-style: none;
  text-shadow: -1px 0 1px #000;
  position: absolute;
  z-index: 21;
}
.lightbox{
  background-color: #000000;
  opacity: 0.15;
  border-radius: 7px;
}
.none-bg{
  background: #fff;
  border: 1px solid #eee;
  opacity: 0.9;
  color: #000;
  font-size: 16px;
}
.none-r-border{
  border-right:0px;
}
.none-l-border{
  border-left:0px;
}
/*按钮*/
div.button02{
	color: #333;
	font-size: 14px;
	line-height: 1.64;
	margin:0 auto ;
}
.box,.box1 {
	background: #fff;
	color: #0099ff;
	cursor: pointer;
	display: block;
	margin: 40px auto;
	padding:10px;
	border-radius: 3px;
	text-align: center;
	transition:all 1s ease-out;
	-webkit-transition: -webkit-box-shadow 0.5s ease-out;
	-moz-transition: -moz-box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
}
.box:hover {
	-moz-box-shadow: 0px 0px 15px #0099ff;
	-webkit-box-shadow: 0px 0px 15px #0099ff;
	 box-shadow: 0px 0px 15px #0099ff;
}
a:hover {
	color: #0088CC;
	text-decoration: underline;
}	
.btn-circle {
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}